<h1>Welcome, new student</h1>

<%= simple_form_for(@student) do |f|%>
  <%= f.error_notification %>>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <%= f.button :submit %>>

<% end  %>>